
<ion-content>
  <div class="ui middle aligned center aligned grid login-container">
    <div class="row">
      <div class="sixteen wide column"> 
        <div class="ui inverted segment">
          <h3 class="ui horizontal divider inverted header">Login With</h3>
          <button class="ui blue tertiary button">FaceBook</button>
          <button class="ui teal tertiary button">Twitter</button>
          <button class="ui green tertiary button">Google</button>
         <button class="ui olive tertiary button">LinkedIn</button>
        </div>
      </div>
    </div>
  </div>

</ion-content>
