<ion-header>
    <div class="ui massive inverted green borderless menu">
      <div class="header item">
        Home
      </div>
    </div>
  </ion-header>
  
  <ion-content color="dark">
    <div class="ui padded grid"
      style="margin-top: 20px">
      <div class="row">
        <div class="eight wide column">
          <h1 class="ui inverted header">
            Welcome User!
          </h1>
        </div>
        <div class="eight wide right aligned column">
          <img src=""
            class="ui avatar image">
        </div>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="sixteen wide column">
        <h3 class="ui dividing inverted header">Recent</h3>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="eight wide column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="pink bed icon"></i> 7.268
          </div>
          <div class="label">
            Hours of Sleep
          </div>
        </div>
      </div>
      <div class="eight wide right aligned column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="blue walking icon"></i> 2,129
          </div>
          <div class="label">
            Steps
          </div>
        </div>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="eight wide column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="red heart icon"></i> 72
          </div>
          <div class="label">
            BPM
          </div>
        </div>
  
      </div>
      <div class="eight wide right aligned column">
        <div class="ui inverted small statistic">
          <div class="value">
            <i class="orange burn icon"></i> 156
          </div>
          <div class="label">
            Calories  Burned
          </div>
        </div>
      </div>
    </div>
    <div class="ui padded grid">
      <div class="row">
        <div class="sixteen wide column">
          <h2 class="ui dividing inverted header">My Activity History</h2>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui clearing inverted grey segment"
            *ngFor="let practice of ['This Week', 'This Month']">
            <div class="ui toggle checkbox">
              <input type="checkbox"
                name="public">
            </div>
            <h3 class="ui right floated inverted header">{{practice}}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="ion-padding">
      <button class="ui labeled icon fluid teal button">
        <i class="sync icon"></i>
        Sync my data
      </button>
      <ion-text>Last Sync</ion-text>
    </div> -->
  </ion-content>